a[title="test"]{
  font-size: 100px;
}

#unterstrichen{
  border-bottom: 1px solid black;
}
/* 
div + p{
  color: red;
} */

div, p{
  color: green;
}

div p{
  color: blue;
}

#tr th:last-child{
  background-color: yellow;
}